<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {% block link %}{% endblock %}
    <title>{% block title %}DonateAnyBook{% endblock %}</title>
</head>
<body>
    <header class="text-gray-600 body-font">
    <div class="bg-gray-100">
        <div class="containe mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/../">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">DonateAnyBook</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900" href="/../">Home</a>
            {% if user.is_authenticated %}
            <a class='mr-5 hover:text-gray-900' href='/../profile'>Profile</a>
            <a class='mr-5 hover:text-gray-900' href='/../logout'>Logout</a>
            {% else %}
            <a class='mr-5 hover:text-gray-900' href='/../login'>Login</a>
            <a class='mr-5 hover:text-gray-900' href='/../register'>Register</a>
            {% endif %}
        </div>
      </div>
      </header>
      {% block content %}

      {% endblock %}

        <footer class="text-gray-600 body-font">
        
        &nbsp;&nbsp;
        <div class="bg-gray-100">
          <div class="containe px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="/../">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
              </svg>
              <span class="ml-3 text-xl">DonateAnyBook</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2020 DonateAnyBook
            </p>
          </div>
        </div>
      </footer>
</body>
</html>
